/* background image style */
  body {
    background-image: url('images/background.jpg'); /* Same path from JS */
    background-size: auto;
    background-repeat: repeat;
    background-position: auto center; /* Optional: Center the image */
    margin: 0; /* Remove default margin for better fit */
}

/* font */
body, .permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font:white;
  }

  /* Pokedex title */
  header {
    display: block;
    text-align: center;
  }

  /* logo */
  .page-header__item {
    float:center;
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    padding: 10px;
  }
  
/*modal font style*/
  .page__main, .h1 {
    float: center;
    color:rgb(0, 0, 0);
    font-size:xx-large;
    padding:20px;
 }

  .button-class {
  background-color: (rgb(255, 255, 255));
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  cursor: pointer;
  border: 2px solid rgb(0, 0, 0);
}
/*buttons*/
.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust as needed */
  grid-gap: 10px; /* Spacing between buttons */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 400px; /* Adjust height as needed */
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default list padding */ 
}

.pokemon-list button {
  border-color: transparent; /* Remove border */
}

/* Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: -100;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: -100;
    opacity: 1;
  }
}

